.homepage {
  color: #f1faee;
  background-image: url('../../assets/images/dish-back-ground-image.jpg');
  background-position: center;
  background-size: cover;
  background-color: #457b9d;
  height: 50vh;
}
